{% extends "template.html" %}

{% block style %}
	caption {
		caption-side: top;
	}
{% endblock %}

{% block body %}
	<h2>Binance BTC Pairs Long or Short</h2>

	<div class="table-conatiner">
		<table id="signal_table" class="table table-hover">
			<thead>
				<th>Coin</th>
				<th>Symbol</th>
				<th>Long/Short</th>
				<th>Last Price</th>
				<th>Max</th>
				<th>Min</th>
				<th>Buy Signals</th>
				<th>Sell Signals</th>
				<th>Net</th>
				<th>Max Gain</th>
				<th>Max Loss</th>
			</thead>

			<tbody>
				{% for coin, test_data in data.items() %}
					{% if test_data["long"] %}
						<tr class="table-success">
					{% else %}
						<tr class="table-danger">
					{% endif %}
							<td><a href="/research/{{ coin }}">{{ coin }}</a></td>
							<td>{{ test_data["symbol"] }}</td>
							{% if test_data["long"] %}
								<td>Long</td>
							{% else %}
								<td>Short</td>
							{% endif %}
							<td>{{ "%.0f"|format(test_data["last_price"]) }}</td>
							<td>{{ "%.0f"|format(test_data["max"]) }}</td>
							<td>{{ "%.0f"|format(test_data["min"]) }}</td>
							<td>{{ test_data["buy"] }}</td>
							<td>{{ test_data["sell"] }}</td>
							<td>{{ test_data["total"] }}</td>
							<td>{{ "%.2f"|format(test_data["max_gain"]) }}</td>
							<td>{{ "%.2f"|format(test_data["max_loss"]) }}</td>
						</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		$(document).ready( function () {
		    $('#signal_table').DataTable({
		    	paging: false,
		    	searching: true
		    });
		} );
	</script>
{% endblock %}